# FAST API
fastapi 
uvicorn[standard] 
pymongo
# TRANSFORMER
transformers==4.48.0
accelerate 
sentencepiece
# MODELS
ollama
torch
vaderSentiment
pydantic 
gtts

protobuf==3.20.3 
tiktoken


langchain 
langchain-ollama 
langchain-community
chromadb 
pypdf 
python-dotenv 
pandas
langchain_text_splitters
#python3 -m pip install 
sentence-transformers
einops
